<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    {% include 'work/header.html'%}

<form>
  <h1>Регистрация</h1>
    <input placeholder="Имя"><br>
    <input placeholder="email"><br>
    <input placeholder="Phone">
  <h1>Укажите свой пол</h1>
  <div>
    <input type="radio" name="gender"/>
    <label for="genderChoice1">Mужской<br><br></label>

    <input type="radio" name="gender"/>
    <label for="genderChoice2">Женский</label>

    <div>
      <button type="submit">Войти</button>
    </div>

  </div>
</form>

</body>
</html>