<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
</head>
<body>
    <p>Адрес: улица {{ address }}, дом {{ address.1 }}, кв {{ address.2 }}</p>
    <p>Пoльзователь: {{ user.name }}, возраст {{ user.age }}</p>
    <p>Знает языки программирования: {{ langs.0 }}, {{ langs.1 }}</p>
    {% for lang in langs %}
        <p>{{ lang }}</p>
    {% endfor %}

<!--    {% autoescape off %}-->
<!--        {{ text }}-->
<!--    {% endautoescape %}-->


</body>
</html>